/ {
    aliases {
        /* Semafoare Auto Nord-Sud */
        led-ns-red = &led_ns_red;
        led-ns-yel = &led_ns_yel;
        led-ns-grn = &led_ns_grn;

        /* Semafoare Auto Est-Vest */
        led-ew-red = &led_ew_red;
        led-ew-yel = &led_ew_yel;
        led-ew-grn = &led_ew_grn;
    };

    leds {
        compatible = "gpio-leds";
        
        /* Pini Nord-Sud (GP6, GP7, GP8) - ACTIVE_HIGH */
        led_ns_red: led_ns_red { gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>; };
        led_ns_yel: led_ns_yel { gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>; };
        led_ns_grn: led_ns_grn { gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>; };
        
        /* Pini Est-Vest (GP19, GP20, GP21) - ACTIVE_HIGH */
        led_ew_red: led_ew_red { gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>; };
        led_ew_yel: led_ew_yel { gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>; };
        led_ew_grn: led_ew_grn { gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>; };
    };
};